/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-attachment: fixed;
    background-color: #000000; 
    color: #263238;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 15px;
}

#bodywrap {  
    width: 100%;
}

/* HEADER */
header {
    color: #FFFFFF;  
    height: 150px;
    padding: 10px;
    text-align: center;
    text-transform: lowercase;
}

    h1 {
        font-family: Abel, Helvetica, Arial, sans-serif;
        font-size: 80px;
        line-height: 75px;
        padding-top: 15px;
    }
    
    p.subtitle {
        font-family: Abel, Helvetica, Arial, sans-serif;
        font-size: 21px;
        padding: 0px;
    }
    
#mainwrap {  
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

/* NAVIGATION */
nav {
    background-color: #FFFFFF;
    font-family: Abel, Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 42px;
    line-height: 22px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;  
}
    
    nav a { 
        color: #263238;
        padding: 8px 10px; 
        text-decoration: none;
    }
      
    nav a:hover {
        background-color: #02A4A9;
        color: #FFFFFF;
    }

/* CONTENT WRAPPER */
#contentwrap {
    margin-top: 25px;
    position: relative;
}

/* MAIN CONTENT */
article {
    background-color: #FFFFFF;
    left: 0;
    height: calc(100% - 4px);
    overflow: auto;
    padding: 25px;
    position: absolute;
    top: 0;
    width: 550px;
}
    h2 {
        font-family: Abel, Helvetica, Arial, sans-serif;
        font-size: 21px;
        margin-top: 7px;
        text-align: center; 
        text-decoration: underline;  
    }
    
    h2:first-child {
        font-family: Abel, Helvetica, Arial, sans-serif;
        font-size: 21px;
        margin-top: 0px;
        text-align: center; 
        text-decoration: underline;  
    }
    
    h3 {
        font-family: Abel, Helvetica, Arial, sans-serif;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }
    
    p {
        padding-top: 10px;
    }
    
    p.link {
        padding-top: 10px;
        text-align: right;
    }
    
    a.link {
        background-color: #02A4A9;
        color: #FFFFFF;
        font-family: Abel, Helvetica, Arial, sans-serif;
        padding: 0px 3px;
        text-decoration: none;
    }
    
    a.link:hover {
        background-color: #FFFFFF;
        color: #02A4A9;
    }
       
    .bold {
        font-weight: 600;
        text-decoration: underline;
    }
    
    .italic {
        font-style: italic;
    }
    
    .underline {
        color: #02A4A9;
        font-family: Abel, Helvetica, Arial, sans-serif;
        text-decoration: underline;
    }
    
    .small {
        font-size: 12px;
    }
    
/* LINK DIRECTORIES: SITEMAP */
article.dir_links {
    margin-top: 25px;
    position: initial;
    text-align: center;
    width: 100%;
}
    
    article.dir_links ul {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        width: 600px;
    }
    
    article.dir_links li.link {
        list-style-type: none;
        width: 100%;
    }
    
    article.dir_links li.link2 {
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    
    a.dir_link {
        background-color: #02A4A9;
        color: #FFFFFF;
        display: block;
        font-family: Abel, Helvetica, Arial, sans-serif;
        margin: 5px 0px;
        padding: 0px 3px;
        text-decoration: none;
        width: 100%;
    }
    
    a.dir_link:hover {
        background-color: #FFFFFF;
        color: #02A4A9;
    }
    
    a.dir_link2 {
        background-color: #A4D8DA;
        color: #FFFFFF;
        display: block;
        font-family: Abel, Helvetica, Arial, sans-serif;
        margin: 5px 0px;
        padding: 0px 3px;
        text-decoration: none;
        width: 100%;
    }
    
    a.dir_link2:hover {
        background-color: #FFFFFF;
        color: #A4D8DA;
    }

/* RIGHT SIDEBAR */
aside {
    margin-left: 550px;
    overflow: hidden;
    width: 400px;
}

    aside img {
        height: 100%;
        width: auto;
    }
        
/* FOOTER */
footer {
    background-color: #FFFFFF;
    font-family: Abel, Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 29px;
    line-height: 10px;
    margin-top: 21px;
    margin-bottom: 25px;
    padding: 10px;
    text-align: center;
    text-transform: lowercase;  
}

    footer a {
        color: #263238;
        padding: 5px 10px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    footer a:hover {
        background-color: #02A4A9;
        color: #FFFFFF;
    }
    
    footer p {
        display: inline;
    }